<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>News Media</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <div class="header">
      <!-- Nav bar -->
      <div class="nav">
        <ul>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/service">Service</a></li>
          <li><a href="/categories">Categories</a></li>
          <li><a href="/Latest">Latest</a></li>
          <li class="logo"><a href="/">Media</a></li>
        </ul>
        <hr>
      </div>
      <!-- News on the header -->
      <div class="header-news">

        <div class="news">
          <div class="news-no">
            <h1>1</h1>
          </div>
          <div class="news-content">
            <p>How Olatunde Become a great web developer despite of all.</p>
          </div>
        </div>

        <div class="news">
          <div class="news-no blue">
            <h1>2</h1>
          </div>
          <div class="news-content">
            <p>How Olatunde Become a great web developer despite of all.</p>
          </div>
        </div>

        <div class="news">
          <div class="news-no">
            <h1>3</h1>
          </div>
          <div class="news-content">
            <p>How Olatunde Become a great web developer despite of all.</p>
          </div>
        </div>

        </div>
    </div>

    <div class="news-plate">
      <div class="featured">
        <div class="featured-card">
          <div class="featured-card-img">
            <img src="featured-img.jpg" >
          </div>
          <div class="featured-card-content">
            <a href="#"><h1>Lorem ipsum dolor sit amet, consectetur.</h1></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Non blandit massa enim nec dui nunc mattis....</p>
          </div>

        </div>

        <div class="featured-news">
          <div class="aa">
            <div class="cc">
              <div class="featured-news-img">
                <img src="featured-img.jpg" >
              </div>
              <div class="featured-news-content">
                <a href="#" class="featured-news-title"><h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</h2></a>
              </div>
            </div>
          </div>

          <div class="aa">
            <div class="cc">
              <div class="featured-news-img">
                <img src="featured-img.jpg" >
              </div>
              <div class="featured-news-content">
                <a href="#" class="featured-news-title"><h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</h2></a>
              </div>
            </div>
          </div>

          <div class="aa">
            <div class="cc">
              <div class="featured-news-img">
                <img src="featured-img.jpg" >
              </div>
              <div class="featured-news-content">
                <a href="#" class="featured-news-title"><h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</h2></a>
              </div>
            </div>
          </div>

          <div class="aa">
            <div class="cc">
              <div class="featured-news-img">
                <img src="featured-img.jpg" >
              </div>
              <div class="featured-news-content">
                <a href="#" class="featured-news-title"><h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</h2></a>
              </div>
            </div>
          </div>

          <div class="aa">
            <div class="cc">
              <div class="featured-news-img">
                <img src="featured-img.jpg" >
              </div>
              <div class="featured-news-content">
                <a href="#" class="featured-news-title"><h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</h2></a>
              </div>
            </div>
          </div>
          </div>



      <div class="editor-picked">
        <div class="q">
        <div class="aa">
            <h1 class="title">Editor Picked</h1>
          <div class="cc">
            <div class="editor-picked-no">
              <h1>01</h1><a href="#"></a>
            </div>
            <div class="editor-picked-content">
              <a href="#"><h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</h2></a>
            </div>
          </div>
        </div>

        <div class="aa">
          <div class="cc">
            <div class="editor-picked-no">
              <h1>01</h1><a href="#"></a>
            </div>
            <div class="editor-picked-content">
              <a href="#"><h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</h2></a>
            </div>
          </div>
        </div>

        <div class="aa">
          <div class="cc">
            <div class="editor-picked-no">
              <h1>01</h1><a href="#"></a>
            </div>
            <div class="editor-picked-content">
              <a href="#"><h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</h2></a>
            </div>
          </div>
        </div>

        <div class="aa">
          <div class="cc">
            <div class="editor-picked-no">
              <h1>01</h1><a href="#"></a>
            </div>
            <div class="editor-picked-content">
              <a href="#"><h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</h2></a>
            </div>
          </div>
        </div>

        <div class="aa">
          <div class="cc">
            <div class="editor-picked-no">
              <h1>01</h1><a href="#"></a>
            </div>
            <div class="editor-picked-content">
              <a href="#"><h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</h2></a>
            </div>
          </div>
        </div>

        </div>
      </div>
      </div>
    </div>

    <script src="css/index.js" charset="utf-8"></script>
  </body>
</html>
